#menu-dashboard {
  position: fixed;
  overflow-y: auto;
  height: 100%;
  background: $primary;
  padding: 80px 0 0;
  width: 250px;
  left: 0;
  top: 0;
  transition: left 0.25s ease 0s;
  -webkit-transition: left 0.25s ease 0s;

  .content-menu {
    overflow-y: auto;
    height: 100%;
    padding: 0;
  }

  h4 {
    font-size: 14/$font-b + em;
    margin-top: 30px;
    padding: 0 30px;
    margin-bottom: 25px;
    font-weight: 300;
    font-family: $font-montser;

    a {
      text-decoration: none;
      color: #c5cfd3;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }

    i {
      padding-right: 5px;
    }
  }

  ul {
    padding-left: 0;
    padding-bottom: 15px;

    li {
      list-style: none;
      font-family: $font-montser;
      font-weight: 300;
      letter-spacing: 0.75px;

      .headlline-title {
        border-top: 1px solid #356878;
        font-size: 14/$font-b + em;
        color: #83a1aa;
        margin: 0 30px;
        display: block;
        padding-top: 25px;
        text-transform: uppercase;
        font-weight: 500;
        font-family: $font-raleway;
        letter-spacing: 1px;
        opacity: 0.6 !important;

        strong {
          display: block;
          font-family: $font-montser;
          font-weight: 400;
        }
      }

      a {
        color: #c5cfd3;
        display: block;
        text-decoration: none;
        margin: 4px 0;
        padding: 8px 30px;
        font-size: 14/$font-b + em;
        line-height: 1.5em;

        &:hover {
          background: #1e4e5e;
          color: #fff;
        }
      }

      i {
        padding-right: 5px;
      }

      &.active {
        a {
          background: #1e4e5e;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and(max-width: 991px) {
  #menu-dashboard {
    width: 200px;
  }
}

@media only screen and(max-width: $max-sm) {
  #menu-dashboard {
    z-index: 110;
    width: 200px;
    left: -200px;

    &.active {
      left: 0;
      transition: left 0.25s ease 0s;
      -webkit-transition: left 0.25s ease 0s;
    }
  }

  .ovelay-menu {
    z-index: 100;
  }

  html.active-menu {
    overflow: hidden;
  }

  #menu-dashboard h4 {
    padding: 0 15px;
  }

  #menu-dashboard ul li .headlline-title {
    margin: 0 15px;
  }

  #menu-dashboard ul li a {
    padding: 8px 15px;
  }
}

@media only screen and(max-height: 600px) and (max-width: 767px) {
  #menu-dashboard {
    width: 150px;
    left: -150px;
    padding-top: 68px;

    &.active {
      left: 0;
    }
  }

  #menu-dashboard h4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  #menu-dashboard ul li a {
    padding: 5px 15px;
    margin: 0;
  }

  #menu-dashboard ul li .headlline-title {
    margin-right: 15px;
    margin-left: 15px;
  }

  #menu-dashboard h4 {
    margin: 10px 0;
  }

  #menu-dashboard ul li .headlline-title {
    padding-top: 15px;
  }

  #menu-dashboard ul {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}
