$font-montser:                   'Montserrat', sans-serif;
$font-raleway:                  'Raleway', sans-serif;
$font-b: 13;
$font-body: 13px;
$font-mb-px: 18px;
$font-bm: 18;
$mfont-b: 18;
$font-c: 16;
$font-xs:						18;
$min-sm:						768px;
$max-sm:						767px; 
$colorText: #627189;
$info: #41a6c5;
$primary: #215a6c;
$info2: #83a1aa;
$danger2: #fdda9e;
$danger: #e99301;
$primary2: #1b434f;
$green: #84c446;
$grey: #1b434f;
$red: #ed1c24;
$red2: #ca171e;
$pink: #fababd;
$yellow: #fdda9e;
$yellow2: #fcb53d;
$green2: #638b98;
$info3: #3487a1;
$brown2: #b6c1c8;
$brown: #868f95;
$colorbody: #f1f6f9;
$colorA: #133742;
$colorborderOut: #d8dbe3;
$colorborderSmall: #e6eaee;
$colorborder: #e7e9ed;
$blue: #215a6c;
$blue: #215a6c;