.one-space{
  height: 10px;
}

.two-space{
  height: 20px;
}

.two-five-space{
  height: 25px;
}

.three-space{
  height: 30px;
}

.tree-five-space{
  height: 35px;
}

.four-space{
  height: 40px;
}

.four-five-space{
  height: 45px;
}

.five-space{
  height: 50px;
}

.six-space{
  height: 60px;
}

.seven-space{
  height: 70px;
}

.eight-space{
  height: 80px;
}

.nine-space{
  height: 90px;
}

.ten-space{
  height: 100px;
}

.eleven-space{
  height: 110px;
}

.twenlve-space{
  height: 120px;
}

.twenlve-file-space{
  height: 125px;
}

.thirteen-space{
  height: 130px;
}

.fourteen-space{
  height: 140px;
}

.ten-five-space{
  height: 105px;
}

.max-space{
  height: 370px;
}

.one-five-space{
  height: 15px;
}