{{#freestyle-guide title="Ivy Living Style Guide" subtitle="Examples of Ivy's CSS"}}
  {{#freestyle-section name="Form Elements"}}
    {{#freestyle-usage "input" title="Input"}}
      {{input class="form-control"}}
    {{/freestyle-usage}}

    {{#freestyle-usage "heading" title="Heading"}}
      <h3 class="tooltips">
        <i class="fa fa-info-circle" data-toggle="tooltip" title="" data-original-title="This is a tooltip text. Lorem ipsum dolor sit amet."></i>
        Form Heading
      </h3>
    {{/freestyle-usage}}

    {{#freestyle-usage "checkbox" title="Checkbox"}}
      <div class="row">
        <div class="col-sm-6 col-xs-6">
          <p class="title">Feature flag</p> 
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
          <div class="checkbox checked">
            <input type="checkbox" id="check_04">
            <label for="check_04"><span class="indicators" data-label-off="off" data-label-on="on"></span></label>
          </div>
        </div>
      </div>
    {{/freestyle-usage}}

    {{#freestyle-usage "form-group" title="Form Group"}}
      <div class="form-group">
        <label for="" class="label">Type stuff:</label>
        <input type="text" class="form-control" placeholder="here">
      </div>
    {{/freestyle-usage}}

    {{#freestyle-usage "hr" title="HR"}}
      <hr>
    {{/freestyle-usage}}
  {{/freestyle-section}}


  {{#freestyle-section name="Buttons"}}
    {{#freestyle-usage "btn-rate-green" title="Rate Green"}}
      <button class="btn btn-rate-green">Rate</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-add" title="Add"}}
      <button class="btn btn-add">Add</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-delete" title="Delete"}}
      <button class="btn btn-delete">Delete</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-canada" title="Canada"}}
      <button class="btn btn-canada">Canada</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-ghost" title="Ghost"}}
      <button class="btn btn-ghost">Ghost</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-no-background" title="No Background"}}
      <button class="btn btn-no-background">No Background</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-refresh" title="Refresh"}}
      <button class="btn btn-refresh">Refresh</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "disabled" title="Disabled"}}
      <button class="btn" disabled>Disabled</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-primary" title="Primary"}}
      <button class="btn btn-primary">Primary</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-secondary" title="Secondary"}}
      <button class="btn btn-secondary">Secondary</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-error" title="Error"}}
      <button class="btn btn-error">Error</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "submit" title="Submit"}}
      <button class="btn submit">Submit</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-next" title="Next"}}
      <button class="btn btn-next">Next</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "btn-edit" title="Edit"}}
      <button class="btn btn-edit">Edit</button>
    {{/freestyle-usage}}
  {{/freestyle-section}}

  {{#freestyle-section name="Boxes"}}
    {{#freestyle-usage "available" title="Available"}}
      <div class="col-md-6">
        <div class="box-availible">
          <div class="border-bottom">
            <div class="row">
              <div class="col-sm-6 col-xs-6">
                <h3>Professional</h3>
              </div>
              <div class="col-sm-6 col-xs-6 text-right">
                <p><a href="" class="btn btn-primary">Select plan</a></p>
              </div>
            </div>
          </div>
          <p class="label">Included Feature Packages</p>
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>Extensions</td>
                  <th width="16%">2</th>
                </tr>
                <tr>
                  <td>Ring Groups</td>
                  <th>1</th>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-right total-rate">Custom Plan Total Cost Per Month:<strong>$ 25.00</strong></p>
          <p class="label">Add-On Package Pricing</p>
          <div class="table-responsive">
            <table class="table table-striped table-text-right">
              <tbody>
                <tr>
                  <td>1 Channel - Concurrent Call Path</td>
                  <th>$20.00 / mo</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <p class="text-right total-rate out-box-total">Custom Plan Total Cost Per Month:<strong>$ 25.00</strong></p>
      </div>
    {{/freestyle-usage}}

  {{/freestyle-section}}
{{/freestyle-guide}}
