{{#freestyle-guide title="Ivy Living Style Guide" subtitle="Examples of Ivy's CSS"}}
  {{#freestyle-section name="Form Elements"}}
    {{#freestyle-usage "input" title="Input"}}
      {{input}}
    {{/freestyle-usage}}

    {{#freestyle-usage "button" title="Button"}}
      <button>Submit</button>
    {{/freestyle-usage}}

    {{#freestyle-usage "checkbox" title="Checkbox"}}
      Enabled {{input type="checkbox"}}
    {{/freestyle-usage}}
  {{/freestyle-section}}
{{/freestyle-guide}}
